# Autoencoder for Recommender Systems

In [13]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.metrics import mean_squared_error

In [14]:
df = pd.read_csv('ratings.csv')
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
df_movies = pd.read_csv('movies.csv')

In [16]:
from sklearn.preprocessing import MinMaxScaler

r = df['rating'].values.astype(float)
min_max_scaler = MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(r.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['rating'] = df_normalized

### User Item matrix

In [17]:
df

        userId  movieId    rating   timestamp
0            1        1  0.777778   964982703
1            1        3  0.777778   964981247
2            1        6  0.777778   964982224
3            1       47  1.000000   964983815
4            1       50  1.000000   964982931
...        ...      ...       ...         ...
100831     610   166534  0.777778  1493848402
100832     610   168248  1.000000  1493850091
100833     610   168250  1.000000  1494273047
100834     610   168252  1.000000  1493846352
100835     610   170875  0.555556  1493846415

[100836 rows x 4 columns]

In [18]:
matrix = df.pivot(index='userId', columns='movieId', values='rating')
matrix.fillna(0, inplace=True)

In [19]:
matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,0.777778,0.000000,0.777778,0.0,0.0,0.777778,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.777778,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.444444,0.000000,0.000000,0.0,0.0,0.000000,0.444444,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.777778,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.444444,0.333333,0.333333,0.0,0.0,0.000000,0.000000,0.0,0.0,0.777778,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,0.555556,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.777778,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,1.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
users = matrix.index.tolist()
items = matrix.columns.tolist()
num_items = df.movieId.nunique()
num_users = df.userId.nunique()

### Weights and biases for autoencoder

In [21]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior() 
num_input = num_items
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

In [22]:
def encoder(x):
    # Encoder Hidden layer with sigmoid activation #1
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    # Encoder Hidden layer with sigmoid activation #2
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2


# Building the decoder

def decoder(x):
    # Decoder Hidden layer with sigmoid activation #1
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    # Decoder Hidden layer with sigmoid activation #2
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2


# Construct model

encoder_op = encoder(X)
decoder_op = decoder(encoder_op)


# Prediction

y_pred = decoder_op


# Targets are the input data.

y_true = X

In [23]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.AdagradOptimizer(0.1).minimize(loss)

predictions = pd.DataFrame()

# Define evaluation metrics

eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

In [ ]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()

with tf.Session() as session:
    epochs = 200
    batch_size = 64

    session.run(init)
    session.run(local_init)

    num_batches = int(matrix.shape[0] / batch_size)
    matrix = np.array_split(matrix, num_batches)

    for i in range(epochs):

        avg_cost = 0

        for batch in matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches
        if(i%20==0):
            print("Epoch: {} Loss: {}".format(i , avg_cost))

    print("Predictions...")

    matrix = np.concatenate(matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: matrix})

    predictions = predictions.append(pd.DataFrame(preds))

    predictions = predictions.stack().reset_index(name='rating')
    predictions.columns = ['userId', 'movieId', 'rating']
    predictions['userId'] = predictions['userId'].map(lambda value: users[value])
    predictions['movieId'] = predictions['movieId'].map(lambda value: items[value])

Epoch: 0 Loss: 0.347124844789505
Epoch: 20 Loss: 0.3446018397808075
Epoch: 40 Loss: 0.34181782603263855
Epoch: 60 Loss: 0.33879992365837097
Epoch: 80 Loss: 0.3356129080057144
Epoch: 100 Loss: 0.3323470652103424
Epoch: 120 Loss: 0.3291049599647522
Epoch: 140 Loss: 0.3259877413511276
Epoch: 160 Loss: 0.3230700194835663
Epoch: 180 Loss: 0.3203686475753784
Predictions...

In [ ]:
predictions

In [ ]:
print("Filtering out items in training set")

keys = ['userId', 'movieId']
i1 = predictions.set_index(keys).index
i2 = df.set_index(keys).index

recs = predictions[~i1.isin(i2)]
recs = recs.sort_values(['userId', 'rating'], ascending=[True, False])
recs = recs.groupby('userId').head(20)
#recs.to_csv('recs.tsv', sep='\t', index=False, header=False)

### Recommendations

In [ ]:
df_join = pd.merge(df_movies, df, how='inner', on='movieId')
df=df_join

### Top 10 movies watched by user

In [ ]:
df[df.userId==7].sort_values(['rating'], ascending=[ False]).head(10)

In [ ]:
df_join = pd.merge(df_movies, recs, how='inner', on='movieId')
recs=df_join

### Top 10 movies recommendation

In [ ]:
recs[recs.userId==7].sort_values(['rating'], ascending=[ False])